:root {
    --blue: #205072;
    --blue-010: #002c53;

    --green: #32909C;
    --green-010: #56C595;
    --green-020: #7BE495;
    --green-030: #CFF3D2;

    --grey: #b1b1b1;

    --black: rgb(55 65 81);
    --white: #fff;
}

body {
    font-family: "Nunito Sans", sans-serif;
}

a {
    cursor: pointer;
}

main {
    min-height: 100vh;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg,var(--green),var(--green-030) );
}

.alert {
    padding: 1em;
}

section {
    background-color: var(--white);
    border-radius: 1.5rem;
    padding: 10px 10px 10px;
    margin-top: 5.5rem;
}

button.btn-close {
    background-color: transparent !important;
    padding: 0 !important;
    transition: none !important;
}

button.btn-close:hover {
    border: 0px !important;
    box-shadow: none;
}

.form-style {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form-style-register {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container-style {
    justify-content: center;
}

.form-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
}
.container-style h1 {
    font-size: 2.6rem;
}

.container-style input {
    background-color: #eee;
    border: none;
    margin: 6px 0;
    padding: 10px 2rem;
    font-size: 13px;
    border-radius: 8px;
    outline: none;
}

.form-style-register input {
    background-color: #eee;
    border: none;
    margin: 6px 0;
    width: 18rem;
    padding: 10px 2rem;
    font-size: 13px;
    border-radius: 8px;
    outline: none;
}

.container-style input:focus {
    box-shadow: #00000044 0.2px 0.2px 10px  ;
}

.container-style span {
    margin: 3px;
    font-size: 1.4rem;
}

.container-style a {
    color: (var(--black));
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
}

.a-request:hover {
    color: var(--green);
    font-weight: 600;
}

.a-btn{
    font-weight: 700;
}

.a-btn:hover{
    color: var(--green-010);
    font-weight: 800;
}

.container-style button {
    color:var(--white) ;
    border-radius: 10px;
    background-color:var(--green-010);
    font-size: 16px;
    padding: 10px 41px;
    border: 1px solid transparent;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 10px;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
}

.container-style button:hover {
    transform: scale(1.03);
    color:var(--green-010);
    background-color:var(--white);
    border: 1px solid var(--green-010);
}

.container-style button:active{
    opacity: 0.8;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px 0;
    padding-bottom: 13px;
}

.social-icons a {
    border: 1px solid #1b1b1b;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

@media(max-width: 730px) {
    .container-style h1 {
        font-size: 1.7em;
    }
}